body {
  display: flex;
  justify-content: center;
}

.addExpenseForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.expenseButtons {
  display: flex;
  gap: 5px;
}

.dialog {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 1rem 1rem 1rem;
}

.flex {
  display: flex;
}

.done {
  text-decoration: line-through;
}